# Copy to .env for production builds (npm run build)
DJANGO_BASE_URL=https://stagingapi.methodtech.in
MICROSOFT_APP_ID=1218ba26-b58d-4829-91e4-5be4bbb88461
MICROSOFT_API_SCOPE=api://staging.d3jl8gkkjv76iz.amplifyapp.com/1218ba26-b58d-4829-91e4-5be4bbb88461/access_as_user
